:root {
    --primary: #030029;
    --primary-2: #151237;
    --primary-3: #151523;

    

    --secondary: #EAF2EF; 
    --accent: #00000090;
    --accent-1: #5f2465;
    --accent-2: #1d202a90;

    --heart-color: #4a32a5;

    --main-ff: 'M PLUS Rounded 1c', sans-serif;
    --main-fnt-size: 12px;

    --sect-size: 100vh;
}

html {
    font-size: 16px; /* Define base font size */
}


body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--main-ff);

    margin: 0;
    padding: 0;

    font-size: 16px;
    
    overflow: hidden;
    
    
}

.bg-images img {
    width: 100%;
    height: 100vh;
    object-fit: cover ;
}

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.scroll-snap-wrapper {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: var(--sect-size);
}

.child-sect {
    scroll-snap-align: start;
    height: var(--sect-size);
}

.btn {
    background: none;
    border: none;

    color: var(--secondary);
    cursor: pointer;

    border: 1px solid var(--secondary);
    border-radius: 12px;
    padding: .5rem;

    width: 5rem;

    transition: all .5s ease-in-out;
}

#next-btn {
    width: 50%;
    font-size: 1rem;
    background-color: var(--accent);
}

#next-btn:hover {
    
    background-color: var(--secondary);
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.btn-cont {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    margin-bottom: 1rem;
}

.center-wrapper {
    margin-top: 2rem;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    backdrop-filter: blur(3px);
}

.info-cont {
    
    font-size: .75rem;
    padding: .75rem;
    border-radius: 12px;
    width: 20rem;
    max-width: 80%;
}

.text {
    padding: 1rem;
    background-color: var(--accent);
    border-radius: 12px;
}

#slider-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    padding: .5rem;
    border-radius: 12px;
    width: 24rem;
    max-width: 80%;
    aspect-ratio: 1;
    position: relative;

    overflow: hidden;

    box-shadow:  9px 9px 18px #010010,
                -9px -9px 18px #050042;
    
            }
            
            #slides {
                /* display: flex; */
    position: absolute;
    top: 0;
    transition: all .5s ease-in-out;

   
}

#slider-box li {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.active {
    opacity: 0;
}

.photo-cont {
    aspect-ratio: 1;
    max-width: 20rem;
    object-fit: cover;
    object-position:bottom
}

#slide-sect {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
}

.question {
    background-color: var(--accent);
    text-align: center;
    margin: .5rem 0;
    margin-top: 0;
    padding: 15px;
}

.sect1 {    
    background-color: var(--accent-2);
    animation: toPrimaryBg linear;
    animation-timeline: view();
    animation-range: exit -200px;
    transition: all .5s ease-in-out;
}

.sect1 .blur-wrapper {    
    background-color: var(--secondary);
}

@keyframes toPrimaryBg {
    to {background-color: var(--accent);}
}
@keyframes fadeIn {
    to {opacity: 1}
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
  
.fadeOutElement {
    animation: fadeOut 1s ease forwards;
}

#title-p1, #title-p2 {
    padding: 15px;
    border-radius: 12px;
    background-color: var(--accent);
    width: 15rem;
    text-align: center;
    max-width: 60%;
}

#title-p1 {
    margin-bottom: 5rem;
}

#title-p2 {
    margin-top: 5rem;
}

.heart-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.heart-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 15rem;
    max-width: 60%;
    padding: 15px;
    border-radius: 20px;
    box-shadow:  7px 7px 14px #06060e,
             -7px -7px 14px #16163a;
}


.heart {
    width: 100px;
    height: 80px;
    position: relative;
    animation: heartbeat 1s infinite;
    margin: 0;
    scale: 1.9;
  }
  .heart:before,
  .heart:after {
    content: "";
    width: 3.125rem;
    height: 80px;
    background-color: var(--heart-color);
    border-radius: 3.125rem 3.125rem 0 0;
    position: absolute;
    top: 0;
  }
  .heart:before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  @keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }


@media (min-width: 50em) {
    .center-wrapper {
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
    }
    .info-cont {
        font-size: 1rem;
    }
    .photo-cont {
        max-width: 25rem;
    }
}

@media screen and (max-width: 360px) {
    body {
      font-size: 12px;
    }
    .heart {
        width: 100px;
        height: 80px;
        position: relative;
        animation: heartbeat 1s infinite;
        margin: 0;
        scale: 1.5;
      }
  }
  